<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Programación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10">
        <ion-list color="primary" lines="none" mode="ios" *ngFor="let e of eventos">
          <ion-item color="primary">
            <ion-avatar slot="start">
              <img [src]="e.imagen | imagen:'eventos'">
            </ion-avatar>
            <ion-label>
              <ion-text color="tertiary" text-wrap>
                <h2>{{e.titulo}}</h2>
              </ion-text>
              <ion-text color="tertiary" text-wrap>
                <h3> {{e.fecha | date }}--{{e.hora}} </h3>
              </ion-text>
              <ion-text color="light" text-wrap>
                <p>{{e.descripcion}}</p>
              </ion-text>

            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>




  <ion-grid no-padding style="margin-bottom: 0%;">
      <ion-card color="tertiary" class="mt-5">
        <ion-card-content class="m-0">
          <ion-row class="align-items-center">
            <ion-col size="6" *ngFor="let r of redes">
              <ul class="ul-horizontal">
                <li class="icono">               
                    <img [src]="r.tipo | imagen:'redes' " class="icon">              
                </li>
                <li class="name">
                    <h5>{{r.nickname}}</h5>
                </li>
              </ul>          
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-grid>
    
</ion-content>